{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.12.0/baguetteBox.min.css">

<div class="container py-4">

    <div class="card mb-4">
        <div class="card-header">
            <h3>🛰️ NASA Martian Soil Photo Gallery</h3>
        </div>
        <div class="card-body">
            <div class="gallery gallery-flow" id="nasa-gallery">
                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/martian_soil_from_fedex_final.jpg') }}"
                            title="Martian soil sample — NASA">
                            <img src="{{ url_for('static', filename='img/martian_soil_from_fedex_final.jpg') }}"
                                class="rounded shadow-sm gallery-image" alt="Martian Soil Sample">
                        </a>
                    </div>
                    <div class="mt-2"><small>Martian soil sample delivered directly from Mars by FedEx.
                            (10/11/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/sarah_martian_soil_fish_bowl_final.jpeg') }}"
                            title="Sarah Trook Martian soil project — NASA">
                            <img src="{{ url_for('static', filename='img/sarah_martian_soil_fish_bowl_final.jpeg') }}"
                                class="rounded shadow-sm gallery-image" alt="Sarah Trook Martian Soil Project">
                        </a>
                    </div>
                    <div class="mt-2"><small> In the beginning . . . Sarah Trook and her Martian soil project.
                            (10/11/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/TresAmigosMasks_10-17-25.jpg') }}"
                            title="Sarah, Bill and Owen preparing to transfer the silica based Martian regolith simulant into the terrarium bowl. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/TresAmigosMasks_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image"
                                alt="Sarah, Bill and Owen preparing to transfer the silica based Martian regolith simulant into the terrarium bowl">
                        </a>
                    </div>
                    <div class="mt-2"><small> Sarah, Bill and Owen preparing to transfer the silica based Martian
                            regolith simulant into the terrarium bowl.
                            (10/17/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/Sarah_Owen_On_theWay_10-17-25.jpg') }}"
                            title="Sarah and Owen moving the terrarium bowl outside for the regolith transfer. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/Sarah_Owen_On_theWay_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image"
                                alt="Sarah and Owen moving the terrarium bowl outside for the regolith transfer.">
                        </a>
                    </div>
                    <div class="mt-2"><small> Sarah and Owen moving the terrarium bowl outside for the regolith
                            transfer.
                            (10/17/2025)</small></div>
                </div>


                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/Owen_Misting_Soil_10-17-25.jpg') }}"
                            title="Owen misting the soil in the terrarium bowl. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/Owen_Misting_Soil_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image"
                                alt="Owen misting the soil in the terrarium bowl.">
                        </a>
                    </div>
                    <div class="mt-2"><small> Owen misting the soil in the terrarium bowl.
                            transfer.
                            (10/17/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/Sarah_Sculpting_Soil_10-17-25.jpg') }}"
                            title="Sarah sculpting the soil in the terrarium bowl. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/Sarah_Sculpting_Soil_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image"
                                alt="Sarah sculpting the soil in the terrarium bowl.">
                        </a>
                    </div>
                    <div class="mt-2"><small> Sarah sculpting the soil in the terrarium bowl.
                            (10/17/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/Sarah_Bringing_Home_Martian_Soil_10-17-25.jpg') }}"
                            title="Sarah bringing home Martian regolith simulant. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/Sarah_Bringing_Home_Martian_Soil_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image" alt="Sarah bringing home Martian regolith simulant.">
                        </a>
                    </div>
                    <div class="mt-2"><small> Sarah bringing home Martian regolith simulant.
                            (10/17/2025)</small></div>
                </div>

                <div class="gallery-item">
                    <div class="position-relative">
                        <a href="{{ url_for('static', filename='img/Sarah_Red_Martian_Soil_10-17-25.jpg') }}"
                            title="Sarah and terrarium filled with Martian regolith simulant. (10/17/2025)">
                            <img src="{{ url_for('static', filename='img/Sarah_Red_Martian_Soil_10-17-25.jpg') }}"
                                class="rounded shadow-sm gallery-image" alt="Sarah and terrarium filled with Martian regolith simulant.">
                        </a>
                    </div>
                    <div class="mt-2"><small> Sarah and terrarium filled with Martian regolith simulant.
                            (10/17/2025)</small></div>
                </div>

                <!-- Add additional items by placing files in static/img/ and duplicating the block -->
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.12.0/baguetteBox.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        baguetteBox.run('.gallery', {
            animation: 'slideIn',
            captions: function (element) {
                return element.getAttribute('title') || element.querySelector('img').getAttribute('alt');
            }
        });
    });
</script>
{% endblock %}